/*body{
    display: flex;
    flex-flow: column wrap;
    
    
}*/

/* @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

*{
    padding: 0%;
    margin: 0%;
    font-family: 'Montserrat', sans-serif;
}



.contactoNav{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;

    background-color: #15a7bd;
    width: 100%;
    height: 30px;

}
/* .siguenos{ */
    /* justify-content: flex-end; */
    /* align-items: center;
    /* align-content: center; */
    /* width: 60%; */
   

/* .contactoNav div{
    display: flex;
    flex-flow: row wrap;
    
} */

.contacto{
    display: inline-block;
    width: 50%;
    padding: 15px;
    justify-content: space-around;
}

.redes{
    /* display: flex;
    flex-flow: row wrap; */
    display: inline-flex;
    justify-content: space-around;
    width: 15%;
    left:0;

}

.redes img{
    width: 16px;
    height: 16px;

}

/* .redes{
    width: 5%;
    justify-content: space-around;
    margin-right: 2%;
} */



.contactoNav p{
    font-size: 15px;
    color: #fff;
    /* margin-bottom: 25px; */
}

.contactoNav a{
    text-decoration: none;
    color: #fff;
}

header{

    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    background-color: #fff;
    background-size:cover;
   
  
    width: 100%;
    height: 110px;
    z-index: 10;
  
}

.fixed{position:fixed; top:0;
}

header img{
    
    padding: 50px;
   
}

header a{
    text-decoration: none;
    color: #3f3f3f;
    font-size: 25px;
    padding: 10px;
    
}

header a:hover{
    color: #15a7bd;
}

header p{
    text-decoration: none;
    color: #3f3f3f;
    font-size: 25px;
    padding: 10px;
}

header p:hover{
    color: #15a7bd;
}
nav{
    display: flex;
    justify-content: space-around;
    width: 60%;
    z-index: 100;
}



/* .main{

    background-image: url(img/dr.jpeg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 600px;

    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-content: flex-start;
    
}

.saludo{

    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    height: 200px;
    width: 300px;
    margin-top: 50px;
    margin-left: 10%;
}

.saludo p{
    color: #000;
    font-size: 30px;
}

.saludo p:nth-last-child(2n){
    font-size: 20px;
}

.saludo button{
    width: 200px;
    height: 70px;
    font-size: 20px;
    border-radius: 20px;
    color: #fff;
    background-color: #15a7bd;
    border: none;
    margin-top: 10px;

}

.saludo button:hover{
    color: #15a7bd;
    background-color:#fff;
    border-color: #15a7bd;
    border: 2px solid;
} */


.historia{
   
    display: flex;
    flex-flow: row wrap ;
    align-items: center;
    flex-basis: 50%;
    height: 250px;
    

    background-image:  url(img/fondo.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
   
   
}

.text{

    color: #000;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 20px;
    font-size: 20px;
    width: 40%;

    
    
}




/* .clientes img{
    margin-left: 15px;
} */

/* .clientesImg{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    height: 70%;
} */

/* .clientesTitulo{
    display: flex;
    justify-content: center;
    align-items: center;
  
    font-size: 30px;
    background-color:#15a7bd;

    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  
    font-size: 30px;
    font-style: normal;
    background-color:#15a7bd;

} */

.objetivos{

    background-image: url(img/objetivosFondo.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: space-around;
    z-index: 1;
    position: relative;
    width: 100%;
    
    
}

.objetivos p, h1{
    color: #fff;
}

/* .objetivos h1 {
    align-items: center;
} */

/*.objetivosContenedor{

    background-color: #3f3f3f;
    opacity: .5;
    display: flex;
    z-index: 1;
}*/




.mision{
    display: flex;
    flex-flow: row wrap;
    align-content: space-around;
    /* justify-content: space-around; */
    text-align: center;
    width: 40%;
    height: 70%;
    background-color: #15a7bd;
    border-radius: 100px;
  
}

/* .mision div{
    margin-top: 40px;
} */

.mision img{
    width: 80px;
    height: 80px;
}
/* 
.mision h1{
margin-top: 1%;
}

.mision p{
    margin-top: 4%;
    } */

.vision{
    display: flex;
    flex-flow: row wrap;
    /* justify-content: space-around; */
    align-content: space-around;
    text-align: center;
    width: 40%;
    height: 70%;
    background-color: #15a7bd;
    border-radius: 100px;
    z-index: 2;
}

.vision div{
    margin-top: 10px;
    margin-left: 10px;
}

.lista{
    display: inline-block;
    /* margin-top: 20px; */
    /* flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    margin-left: 20%;
    margin-top: 5%;
    width: 80%; */
}

.lista div{
    display: inline-block;
    /* flex-flow: row wrap; */
    /* align-items: center; */
    justify-content: center;
    margin-bottom: 15px;
  
}

/* .objetivos p{
    margin-left: 50px;
    margin-right: 50px;
    font-size: 25px;
} */

/* .objetivos h1{
    text-align: center;
} */

/* .mision h1 {
    align-items: baseline;
    align-content: flex-start;
} */

.valores{

    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 300px;
    
}


.valoresTitulo{
    
        display: flex;
        justify-content: center;
        align-items: center;
      
        font-size: 25px;
        background-color: #15a7bd;
       
        width: 100%;
        height: 100px;
       
        font-style: normal;
    
}



.valoresTitulo h1{
    
    /*-webkit-text-stroke: 1px #fff;*/
    color: #fff;
}
.valores div{

    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
   

}
.valores img{
    width: 80px;
    height: 80px;
    
}

.valores p{
    color: #3f3f3f;
    font-size: 30px;
    text-align: center;
}


/*.fondoContenedor{

    background-color: #3f3f3f;
    display: flex;
    flex-flow: row wrap;
    opacity: 50%;
    z-index: 1;
   
    
}*/



.servicios{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    /* align-content: center; */
    height: 500px;
    width: 100%;
    /* background-color: #fff; */
  
    /* padding-left: 20%; */
    /* position: relative; */

}

.servicios div{
    width: 30%;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-content: center;
    text-align: center;
}

.servicios .valoresTitulo{
    position: absolute;
}

.logoServicio{
    display: flex;
    flex-direction: column wrap;
    justify-content: flex-start;
    align-items: center;
    
}



/* @import "lesshat";

@import url(https://fonts.googleapis.com/css?family=Open+Sans); */

.slideButton{   
  /* width: 200px;
  height: 200px; */
  position: relative;
  /* left: 0; */
  /* right: 60px; */
  /* margin: 0 auto;
 margin-left: 50px;
 margin-top: 20px; */

 
}

.slideButton img{
    width: 150px;
    height: 150px;
    border-radius: 100px;
}

.slideButton h1{
    color: #000;
}

/* .div-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
} */
/* .div-img  .img{
        display:block;
        margin-left: auto;
        margin-right: auto;
        width: 200px;
        height: 200px;
        border-radius: 150px;
        -webkit-border-radius: 150px;
        -moz-border-radius: 150px;   
        transform:translate(0px);
        -ms-transform:translate(0px); 
        -moz-transform:translate(0px); 
        -webkit-transform:translate(0px);  
        -o-transform:translate(0px); 
        -webkit-transition: all 500ms ease-in-out; 
        -moz-transition: all 500ms ease-in-out; 
        -ms-transition: all 500ms ease-in-out; 
        -o-transition: all 500ms ease-in-out; 
        z-index: 2;
    }       */
    
/* .div-img  .text{
        position:absolute;
        z-index: -1;
        display:block;
        height: 50%;
        top:50%;
        right:0;
        margin-left: 20px;
        color: #000;
    } */

 /* .div-img   .img:hover{
      
            transform:translate(-90px,0px);
            -ms-transform:translate(-90px,0px);
            -moz-transform:translate(-90px,0px); 
            -webkit-transform:translate(-90px,0px);
            -o-transform:translate(-90px,0px); 
           
        } */

      
       
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 20px;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  /* .dropdown:hover .dropbtn {background-color: #3e8e41;} */

.feed{
    display: flex;
    flex-flow: column wrap;
    position: relative;
    width: 100%;
    height: 500px;
}

.feed div{
    width: 100%;
    height: 50%;
}


.dato{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    height: 300px;
    background-color: #3f3f3f;
    opacity: 0.8;
    justify-content: space-around;
    align-items: center;
}

.dato img{
    width: 300px;
    height: 200px;
    /* padding: 20px;
    margin-left: 20%; */
    border-radius: 50px;
    justify-content: center;
}

.dato div{
    display: flex;
    width: 40%;
    justify-content: center;
}

.datoText{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    color: #fff;
    
}

/* .datoText h1{
    color: #000;
} */

.cifras{
    display: flex;
    background-color: #fff;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    
   
    
}

.cifras img{
    width: 100px;
    height: 100px;
}

.cifras div{
    width: 20%;
    padding: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    
}

.cifrasText{
    display: flex;
    flex-flow: column;
    width: 50%;
    margin-left: 10%;
}

.cifras h1{
    color: #3f3f3f;
}

.cita{
    background-color: #15a7bd;
    /* background-image: url(img/cita.jpg);
    background-repeat: no-repeat;
    background-size: cover; */

    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    height: 400px;
    width: 100%;

}

.cita button{
        width: 200px;
        height: 70px;
        font-size: 20px;
        border-radius: 20px;
        color: #15a7bd;
        
        background-color:#fff;
        border: none;
        margin-top: 10px;
        margin-left: 110px;
    
}

.cita button:hover{
    color: #fff;
    background-color: #15a7bd;
    border-color: #fff;
    border: 2px solid;
    cursor: pointer;
}

footer{
    display: flex;
    flex-flow: row wrap;
    height: 200px;
    width: 100%;
    bottom: 0;
    padding: 0%;
    margin: 0%;

}

.foot{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    width: 100%;
    height: 70%;
    background-color: #3f3f3f;
}

.foot div{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    width: 30%;
    color: #fff;
    /* bottom: 0; */

}

.copy{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background-color: #3f3f3f;
    opacity: .8;
    color: #fff;
    width: 100%;
    height: 30%;
    bottom: 0;
}

/* menu responsivo */
/* nav .links{
    margin-left: 80px;
    display: flex;
  }
.links {
   
    line-height: 70px;
  } */

 .links label{
    display: none;
  }

  .menu-icon{
    color: #000;
    font-size: 18px;
    cursor: pointer;
    line-height: 70px;
    width: 70px;
    text-align: center;
  }
 .menu-icon{
    display: none;
  }

  nav input[type="checkbox"]{
    display: none;
  }




  /* Responsive code start */
@media screen and (max-width: 1250px){
     header{
      max-width: 100%;
      /* padding: 0 20px; */
    }
      .links{
      margin-left: 30px;
    }
     /* .links  a{
      padding: 8px 13px;
    } */

}

@media screen and (max-width: 400px){

    .menu-icon{
        /* display: block;
        margin-top: 30px; */
        overflow:hidden;
      }
}

@media screen and (max-width: 800px){


  


    .menu-icon img{
        width: 30px;
        height: 30px;
    }
     .menu-icon{
      display: block;
      margin-top: 30px;
      /* overflow:hidden; */
    }

    .contactoNav{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        height: 40px;
        font-size: 15px;
        width: 100%
    }

    .contactoNav div{
        width: 40%;
    }

    /* .siguenos{
        justify-content: flex-end;
        
    } */

    .redes{
        display: flex;
        flex-flow: row wrap;
    }

    .contacto{
        display: flex;
        flex-flow: column wrap;
    }
   /* #show-menu:checked ~ .menu-icon i::before{
      content: "\f00d";
    } */

    /* nav  .links{
        display: block;

        color: #15a7bd;
        position: fixed;
        background: #ccc;
        height: 100%;
        width: 100%;
        top: 70px;
        left: -100%;
        margin-left: 0;
        max-width: 350px;
        overflow-y: auto;
        padding-bottom: 100px;
        transition: all 0.3s ease;
      } */

     

      nav #show-menu:checked ~  .links {
        left: 0%;
        bottom: 0;
        display: block;

      }

      nav #show-features:checked ~  .dropdown-content {
        
        display: block;
        left: 0%;
        bottom: 0;

      }

    


      nav .links {
        display: none;

      color: #15a7bd;
      position: absolute;
      background: #ccc;
      height: 70%;
      width: 50%;
      top: 115px;
      left: -100%;
      margin-left: 0;
      max-width: 100%;
      overflow-y: auto;
      padding-bottom: 250px; 
      /* transition: all 0.3s ease;

      
        /* display: none;
        position: absolute;
        width: 100%;
        height: 100%;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        z-index: 100; */
      }
    
      .links a{
        display: block;
        line-height: 30px;
        font-size: 20px;
      }

      .links p{
        display: block;
        line-height: 30px;
        font-size: 20px;
      }
     
     /* .links li{
        margin: 15px 20px;
      } */

     /* nav .links a,
     nav .links label{
    line-height: 40px;
    font-size: 20px;
    display: block;
    padding: 8px 18px;
    cursor: pointer;
  } */


   .links .desktop-link{
    display: block;
  }

  /* dropdown responsive code start */
   
   /* .links .dropMenu{
    position: static;
    opacity: 1;
    visibility: visible;
    background: none;
    max-height: 0px;
   } */
    /* /* overflow: hidden;
   } 
  

   .dropdown-content #show-features:checked ~ a
   {
    height: 100%;
  } 


  /* seccion de datos */


.feed{
    position: relative;
    display: flex;
    flex-flow: row wrap;

    width: 100%;
    justify-content: center;
    top: 3%;
    overflow: hidden;
    height: 40%;

}

.cifras div{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 50%;
}

.dato{
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    height: 600px;
    justify-content: space-around;
    align-content: center;
    position: relative;
}

.datoText{
    width: 100%;
}
/* .dato img{
    padding:-20px;

} */





.valoresTitulo{
    
    display: flex;
    justify-content: center;
    align-items: center;
  
    font-size: 15px;
    background-color: #15a7bd;
   
    width: 100%;
    height: 50px;
   
    font-style: normal;

}

.valoresTitulo img{
    width: 80px;
    height: 40px;

}

/* responsive servicios */

.indexServicios{
    width: 100%;
    position: relative;
    

}


.servicios{
   display: flex;
   justify-content: center;
   flex-flow: column wrap;
   align-content: center;
    height: 40%;
    /* background-color: #fff; */
    width: 70%;;
    padding-left: 20%;
    position: relative;
    margin-top: 20px;
    

}

.cita button{
    width: 100px;
    height: 40px;
    font-size: 15px;
    margin-bottom: 10px;
    margin-left: 150px;


  /* .content .links ul li{
    margin: 7px 20px;
  }
  .content .links ul li a{
    font-size: 18px;
    line-height: 30px;
    border-radius: 5px!important;
  } */
}
}
